{% extends 'base.html.twig' %}

{% block body %}
    <h1>Машины</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Номер</th>
            <th scope="col">Бренд</th>
            <th scope="col">Модель</th>
            <th scope="col">Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for numberBrandModel, quantity in cars %}
            {% set numberBrandModelArr = numberBrandModel|split(' ') %}
            <tr onclick="window.location.href = '/cars/{{ numberBrandModelArr[0] }}'" role="button">
                <td>{{ loop.index }}</td>
                <td>{{ numberBrandModelArr[0] }}</td>
                <td>{{ numberBrandModelArr[1] }}</td>
                <td>{{ numberBrandModelArr[2] }}</td>
                <td>{{ quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}