{% extends 'base.html.twig' %}

{% block body %}
    <h1>История машины {{ car.number }}: {{ car.brand }} {{ car.model }}</h1>
    <br>
    <hr>
    <h4>Владельцы</h4>
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя человека</th>
            <th scope="col">Время регистрации</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.updatedAt|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}